/* Universal Styling */
:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

/* Header & Nav */
.header {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    height: 80px;
}

.header .logo, .header ul.nav-list {
    float: left;
}

.header .logo a, .header ul.nav-list li a {
    display: block;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
}

.header .logo a {
    color: white;
}

.header ul.nav-list {
    list-style: none;
}

.header ul.nav-list li a {
    color: #FFC300;
    font-size: 20px;
}

.header ul.nav-list li a:hover {
    background-color: #ddd;
    color: black;
}

#home-logo {
    width: 50px;
    height: auto;
}

/* Main Content */
.main-content {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    text-align: center;
    padding-top: 100px;
}

.upper-section, .lower-section {
    flex: 0.5;
    padding: 20px;
    color: #ffffff;
}

.upper-section {
    background-image: url("./assets/img/profile_background.png");
}

.lower-section {
    background-color: #000;
}

/* Buttons */
.btn {
    display: inline-block;
    width: 200px;
    text-align: center;
    background-color: #FFC300;
    border: none;
    border-radius: 10px;
    color: #000000;
    font-weight: bold;
    padding: 15px 32px;
    font-size: 16px;
    margin: 40px 40px 4px 10px;
    cursor: pointer;
}

/* Accordion */
.accordion {
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid 1px #FFC300;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    font-weight: bold;
}

.accordion.active, .accordion:hover {
    background-color: #FFC300;
    color: #000000;
}

.panel {
    padding: 10px 18px;
    background-color: #262626;
    display: none;
    overflow: hidden;
}

.booking-history {
    display: flex;
    justify-content: flex-start;  /* This will align the items to the left */
}

.booking-item {
    flex: 0 0 auto;  
    text-align: center;
    margin-right: 20px;
    max-width: 150px;  /* Constrain the size */
}

.booking-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.booking-item p {
    text-align: center;
    margin-top: 10px;
}

.booking-item img:last-child {
    width: auto;
    height: auto;
}

#rating{
    width:30%;
}

.setting-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
}

.setting-title {
    align-self: flex-start;
}

input, select, button {
    width: 100%;
}
.delete-account-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-line {
    margin-bottom: 15px;
    text-align: left;
}
#buttonContainer {
    display: flex;
    justify-content: center;
}

.review-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #FFC300;
    padding: 10px;
    margin-bottom: 10px;
}

.review-left, .review-right {
    padding: 10px;
}

.review-left {
    flex: 0.2;
}

.review-right {
    flex: 0.8;
    text-align: left;
}

.movie-poster {
    width: 60%;
    height: auto;
}

.movie-title {
    font-size: 24px;
    margin-top: 0;
}

.star-ratings {
    width: 15%;
    height: auto;
}

.movie-genre {
    font-style: italic;
    font-size: small;
}

.user-review {
    margin-top: 10px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #000;
    color: #FFF;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #FFC300;
    border-radius: 20px;
    width: 40%;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
}