/*------------------------------------
----------UNIVERSAL STYLING-----------
-------------------------------------*/
:root{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../IE4717/assets/img/booking-page-poster.png');
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

.header {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    height: 80px;   
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

.header .logo {
    float: left;
}

.header .logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header ul.nav-list {
    float: right;
}

.header ul.nav-list li {
    float: left;
    vertical-align: middle;
}

.header ul.nav-list li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 20px;
}

.header ul.nav-list li a:hover {
    background-color: #ddd;
    color: black;
}

.section {
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 70px;
    text-align: left;
    color:white;
}

#home-logo {
    width: 50px;
}

.main-content {
    text-align: center;
    padding-top: 100px;
}

#movie-title {
    font-size: 36px;
    color: #FFC300; /* Yellow from your palette */
    /* ... other styles ... */
}

#synopsis {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF; /* White from your palette */
    max-width: 850px; /* The same width as your date boxes */
    margin: auto; /* To center the block */
    text-align: center;
    
}

#instructions {
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}

.date-box, .time-box {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white */
    margin: 10px;
    padding: 10px;
    color: #FFFFFF; /* White text */
}

.date-box.active, .time-box.active {
    display: inline-block;
    background-color: rgba(255, 195, 0, 0.7); /* semi-transparent yellow */
    margin: 10px;
    padding: 10px;
    color: #000000; /* Black text */
}


.date-box, .date-box.active {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    padding: 50px 0;
}

.time-box, .time-box.active {
    width: 80px;
    height: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    width: 200px;  /* Set a fixed width */
    text-align: center;  /* Center the text inside */
    background-color: #FFC300; /* Yellow background */
    border: none;
    border-radius: 10px;
    color: #000000; /* Black text */
    font-weight: bold;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 40px 40px 4px 10px;
    cursor: pointer;
}