:root{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

.header .logo {
    float: left;
}

.header .logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header ul.nav-list {
    float: right;
}

.header ul.nav-list li {
    float: left;
}

.header ul.nav-list li a {
    display: block;
    color: #FFC300;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 20px;
}

.header ul.nav-list li a:hover {
    background-color: #ddd;
    color: black;
}

.welcome-message {
    padding: 10px;
    font-weight: bold;
    color: #FFC300;
    background-color: #000000; /* This sets the background color to black */
    width: 15%;
    height: auto;
}

.section {
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 70px;
    text-align: left;
    color:white;
}

.content {
    text-align: left;
    padding: 20px;
}

#home-logo {
    width: 50px;
    
}
.new-movies-headers {
    background-color: black;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFC300; 
}

.upcoming-movies-headers {
    background-color: black;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFC300; 
}

h3{
    color: #FFC300;
}

p{
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.movie-list {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: black;
}

.movie-list .movie-poster {
    display: inline-block;
    margin: 10px;
}
.movie-list .movie-image {
    width: 250px;
}
.movie-image {
    width: 250px;
}
.navbar {
    background-color: black;
    text-align: left;
    padding: 10px;
}
.tab-button {
    background: none;
    border: none;
    color: #FFC300;
    cursor: pointer;
    font-size: 20px;
    padding: 30px 20px;
}

.movies {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: black;
}
.movies .movie-poster {
    display: inline-block;
    margin: 10px;
}
.movies .movie-image {
    width: 250px;
}
.movie-image {
    width: 250px;
}

.day-movies{
    font-size: 20px;
    padding-left: 20px;
    font-weight: bold;
    color: #FFC300; 
    display: none;
}

.footer {
    display: flex;
    flex-wrap: wrap; /* Allow the flex items to wrap onto the next line */
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
    background-color: #000000;
    color: white;
    align-items: flex-start; /* Align items to the start */
    border-top: 2px solid white; /* White line on top of the footer */
  }
  
  .footer-column {
    display: flex;
    justify-content: center; /* Center content horizontally for all columns */
    align-items: center; /* Vertically center the content of all columns */
    flex: 1; /* Give an equal amount of space to all columns */
    flex-direction: column;
    padding: 20px; /* Add padding if needed */
  }
  
  .social-icons img {
    width: 30px; /* You set a specific size for social icons */
    padding: 5px;
  }
  
  .footer-logo img {
    width: 100%; /* Full width of the column */
    max-width: 200px; /* Maximum width of the logo */
  }
  
  .sitemap {
    display: flex; /* Make sure this is also a flex container */
    flex-direction: row; /* Keep sitemap links in a row */
    justify-content: center; /* Center links horizontally */
    align-self: center; /* Center the sitemap itself within the flex container */
  }
  
  .sitemap a {
    color: white;
    text-decoration: none;
    margin: 0 10px; /* Spacing between links */
    font-weight: bold;
  }
  
  .sitemap a:hover {
    color: #FFC300;
  }
  
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items to the center */
  }
  
  .newsletter label {
    margin-bottom: 10px; /* Space between label and input group */
    padding-bottom: 10px;
    font-weight: bold;
    color: #FFC300;
  }
  
  .newsletter-input-group {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .newsletter input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex-grow: 1; /* Input field takes up available space */
    margin-right: 5px; /* Spacing between input and button */
  }
  
  .newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FFC300;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  
  .footer-bottom {
    text-align: center;
    width: 100%; /* Take up the full width for its own row */
    margin-top: 20px;
    font-size: 0.75em;
    order: 4; /* Ensures this is always at the bottom */
  }
  
  .footer-bottom small {
    display: inline-block; /* Allows for text alignment */
  }
  
  .footer-bottom i {
    font-style: italic;
  }
  
 /* Responsive adjustments */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center; /* Center align items for mobile */
    }

    .footer-column {
        /* Ensure the columns stretch to full width on smaller screens */
        width: 100%;
        padding: 10px 0; /* Adjust padding for mobile layout */
    }

    .sitemap {
        /* Stack sitemap links vertically on smaller screens */
        flex-direction: column;
        align-items: center; /* Center links vertically */
        margin-top: 10px;
    }

    .newsletter-input-group {
        /* Align newsletter inputs and button on mobile */
        flex-direction: column;
        align-items: center;
    }

    .newsletter input,
    .newsletter button {
        width: 100%; /* Full width for mobile layout */
        margin: 5px 0; /* Spacing for mobile layout */
    }
}