body {
    margin: 0;
    padding: 0;
}

.header {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

.header .logo {
    float: left;
}

.header .logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header ul.nav-list {
    float: right;
}

.header ul.nav-list li {
    float: left;
}

.header ul.nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 20px;
}

.header ul.nav-list li a:hover {
    background-color: #ddd;
    color: black;
}

.section {
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 70px;
    text-align: left;
    color:white;
}

.content {
    text-align: left;
    padding: 20px;
}

#home-logo {
    width: 50px;
    
}
.new-movies-headers {
    background-color: black;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow; 
}

.upcoming-movies-headers {
    background-color: black;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow; 
}

h3{
    color: yellow;
}

p{
    color: yellow;
}

.movie-list {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: black;
}

.movie-list .movie-poster {
    display: inline-block;
    margin: 10px;
}
.movie-list .movie-image {
    width: 80%;
}

.navbar {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px;
}
.tab-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.movies {
    margin-top: 20px;
}

.day-movies{
    display: none;
}