body {
    margin: 0;
    padding: 0;
}

.header {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

.header .logo {
    float: left;
}

.header .logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header ul.nav-list {
    float: right;
}

.header ul.nav-list li {
    float: left;
}

.header ul.nav-list li a {
    display: block;
    color: #FFC300;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 20px;
}

.header ul.nav-list li a:hover {
    background-color: #ddd;
    color: black;
}

.section {
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 70px;
    text-align: left;
    color:white;
}

.content {
    text-align: left;
    padding: 20px;
}

#home-logo {
    width: 50px;
    
}
.new-movies-headers {
    background-color: black;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFC300; 
}

.upcoming-movies-headers {
    background-color: black;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFC300; 
}

h3{
    color: #FFC300;
}

p{
    color: #FFC300;
}

.movie-list {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: black;
}

.movie-list .movie-poster {
    display: inline-block;
    margin: 10px;
}
.movie-list .movie-image {
    width: 500px;
}

.navbar {
    background-color: black;
    text-align: left;
    padding: 10px;
}
.tab-button {
    background: none;
    border: none;
    color: #FFC300;
    cursor: pointer;
    font-size: 20px;
    padding: 30px 20px;
}

.movies {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: black;
}
.movies .movie-poster {
    display: inline-block;
    margin: 10px;
}
.movies .movie-image {
    width: 500px;
}
.day-movies{
    display: none;
}

footer {
    background-color: black;
	padding: 2em;
	margin: auto;
	text-align: center;
    color: white;
}

.copyright {
	color: white;
}