/*------------------------------------
----------UNIVERSAL STYLING-----------
-------------------------------------*/
:root{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;  /* Black background */
    color: #FFFFFF;  /* White text */
    }

.header {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    height: 80px;   
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

.header .logo {
    float: left;
}

.header .logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header ul.nav-list {
    float: right;
}

.header ul.nav-list li {
    float: left;
    vertical-align: middle;
}

.header ul.nav-list li a {
    display: block;
    color: #FFC300;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 20px;
}

.header ul.nav-list li a:hover {
    background-color: #ddd;
    color: black;
}

#home-logo {
    width: 50px;
}

.main-content {
    text-align: center;
    padding-top: 100px;
}

#title {
    font-size: 36px;
    color: #FFC300; /* #FFC300 from your palette */
}

.btn {
    display: inline-block;
    width: 200px;  /* Set a fixed width */
    text-align: center;  /* Center the text inside */
    background-color: #FFC300; /* #FFC300 background */
    border: none;
    border-radius: 10px;
    color: #000000; /* Black text */
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 40px 40px 4px 40px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-wrap: wrap; /* Allow the flex items to wrap onto the next line */
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: #000000;
    color: white;
    align-items: flex-start; /* Align items to the start */
    border-top: 2px solid white; /* White line on top of the footer */
  }
  
  .footer-column {
    display: flex;
    justify-content: center; /* Center content horizontally for all columns */
    align-items: center; /* Vertically center the content of all columns */
    flex: 1; /* Give an equal amount of space to all columns */
    flex-direction: column;
    padding: 20px; /* Add padding if needed */
  }
  
  .social-icons img {
    width: 30px; /* You set a specific size for social icons */
    padding: 5px;
  }
  
  .footer-logo img {
    width: 100%; /* Full width of the column */
    max-width: 200px; /* Maximum width of the logo */
  }
  
  .sitemap {
    display: flex; /* Make sure this is also a flex container */
    flex-direction: row; /* Keep sitemap links in a row */
    justify-content: center; /* Center links horizontally */
    align-self: center; /* Center the sitemap itself within the flex container */
  }
  
  .sitemap a {
    color: white;
    text-decoration: none;
    margin: 0 10px; /* Spacing between links */
    font-weight: bold;
  }
  
  .sitemap a:hover {
    color: #FFC300;
  }
  
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items to the center */
  }
  
  .newsletter label {
    margin-bottom: 10px; /* Space between label and input group */
    padding-bottom: 10px;
    font-weight: bold;
    color: #FFC300;
  }
  
  .newsletter-input-group {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .newsletter input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex-grow: 1; /* Input field takes up available space */
    margin-right: 5px; /* Spacing between input and button */
  }
  
  .newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FFC300;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  
  .footer-bottom {
    text-align: center;
    width: 100%; /* Take up the full width for its own row */
    margin-top: 20px;
    font-size: 0.75em;
    order: 4; /* Ensures this is always at the bottom */
  }
  
  .footer-bottom small {
    display: inline-block; /* Allows for text alignment */
  }
  
  .footer-bottom i {
    font-style: italic;
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center; /* Center align items for mobile */
    }
  
    .footer-column {
      /* Ensure the columns stretch to full width on smaller screens */
      width: 100%;
      padding: 10px 0; /* Adjust padding for mobile layout */
    }
  
    .footer-logo img {
      /* Adjust logo size on smaller screens if necessary */
      max-width: 150px; /* Example size, adjust as needed */
    }
  
    .sitemap {
      /* Stack sitemap links vertically on smaller screens */
      flex-direction: column;
      align-items: center; /* Center links vertically */
      margin-top: 10px;
    }
  
    .newsletter-input-group {
      /* Align newsletter inputs and button on mobile */
      flex-direction: column;
      align-items: center;
    }
  
    .newsletter input,
    .newsletter button {
      width: 100%; /* Full width for mobile layout */
      margin: 5px 0; /* Spacing for mobile layout */
    }
  }
    
/*------------------------------------
----------PAYMENT STYLING-----------
-------------------------------------*/
.main-content {
    max-width: 1200px; 
    margin: auto; /* This will center the content */
    display: flex;
    justify-content: space-between;
}
.left-column {
    width: 40%;
    padding: 20px;
}
.right-column {
    width: 60%;
    padding: 20px;
}
.payment-details {
    background-color: #FFC300; /* Yellow background */
    color: black; /* Black text */
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.movie-info, .booking-info{
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
}
hr {
    width: 100%;
}
.price-details {
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
}
.price-line {
    display: flex;
    justify-content: space-between;
}
.total-price {
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bold;
    color: #FFC300;
}
.apple-pay-button {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px 0px 15px 0px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;  /* Match the width of the card-input */
}
.or-pay-using {
    text-align: center;
    color: #FFC300;
    font-weight: bold;
    margin-bottom: 20px;
}
.payment-methods img {
    width: 20%;
    margin: 2px;
}
.user-details {
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
}
.card-info {
    display: none; /* Hidden by default */
    margin-bottom: 20px;
}
.info-header {
    color: #FFC300;
    font-weight: bold;
    margin-bottom: 10px;
}
.name-input, .card-input, .country-select {
    background-color: #ffffff;
    border-radius: 8px;
    width: 100%; 
    float: left;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px;
}
.date-input {
    background-color: #ffffff;
    border-radius: 8px;
    width: 40%; 
    float: left;
    padding: 10px;
    margin: 10px 0px;
}
.cvc-input {
    background-color: #ffffff;
    border-radius: 8px;
    width: 40%; 
    float: right;
    padding: 10px;
    margin: 10px 0px;
}
.zip-input {
    background-color: #ffffff;
    border-radius: 8px;
    width: 50%; 
    float: left;
    padding: 10px;
    margin: 10px 0px;
}
.buttons {
    margin-top: 20px;
}

#paymentButton:enabled {
    background-color: #FFC300; /* Gold background */
    display: inline-block;
    width: 200px;  /* Set a fixed width */
    text-align: center;  /* Center the text inside */
    border: none;
    border-radius: 10px;
    color: #000000; /* Black text */
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 40px 40px 4px 40px;
    cursor: pointer;
}

/* Style for the disabled submit button */
#paymentButton:disabled {
    background-color: grey; /* Grey background */
    display: inline-block;
    width: 200px;  /* Set a fixed width */
    text-align: center;  /* Center the text inside */
    border: none;
    border-radius: 10px;
    color: #000000; /* Black text */
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 40px 40px 4px 40px;
    cursor: pointer;
}