/*------------------------------------
----------UNIVERSAL STYLING-----------
-------------------------------------*/
:root{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000; /* Black background */
    color: #FFFFFF; /* White text */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum height of 100% viewport height */
    justify-content: space-between; /* Distribute space between content */
    }

.header {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    height: 80px;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

.header .logo {
    float: left;
}

.header .logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header ul.nav-list {
    float: right;
}

.header ul.nav-list li {
    float: left;
    vertical-align: middle;
}

.header ul.nav-list li a {
    display: block;
    color: #FFC300;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 20px;
}

.header ul.nav-list li a:hover {
    background-color: #ddd;
    color: black;
}

#home-logo {
    width: 50px;
}

.main-content {
    text-align: center;
    padding-top: 100px;
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    height: auto;
    flex-direction: column;
    border: 2px solid #000;
    width: 100%; /* Ensures it takes full width within the container */
    flex: 1; /* Allows the content to grow and fill the space */
}

#title {
    font-size: 36px;
    color: #FFC300;
}

.btn {
    display: inline-block;
    width: 200px;  /* Set a fixed width */
    text-align: center;  /* Center the text inside */
    background-color: #FFC300; /* #FFC300 background */
    border: none;
    border-radius: 10px;
    color: #000000; /* Black text */
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 40px 40px 4px 40px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-wrap: wrap; /* Allow the flex items to wrap onto the next line */
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
    background-color: #000000;
    color: white;
    align-items: flex-start; /* Align items to the start */
    border-top: 2px solid white; /* White line on top of the footer */
  }
  
  .footer-column {
    display: flex;
    justify-content: center; /* Center content horizontally for all columns */
    align-items: center; /* Vertically center the content of all columns */
    flex: 1; /* Give an equal amount of space to all columns */
    flex-direction: column;
    padding: 20px; /* Add padding if needed */
  }
  
  .social-icons img {
    width: 30px; /* You set a specific size for social icons */
    padding: 5px;
  }
  
  .footer-logo img {
    width: 100%; /* Full width of the column */
    max-width: 200px; /* Maximum width of the logo */
  }
  
  .sitemap {
    display: flex; /* Make sure this is also a flex container */
    flex-direction: row; /* Keep sitemap links in a row */
    justify-content: center; /* Center links horizontally */
    align-self: center; /* Center the sitemap itself within the flex container */
  }
  
  .sitemap a {
    color: white;
    text-decoration: none;
    margin: 0 10px; /* Spacing between links */
    font-weight: bold;
  }
  
  .sitemap a:hover {
    color: #FFC300;
  }
  
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items to the center */
  }
  
  .newsletter label {
    margin-bottom: 10px; /* Space between label and input group */
    padding-bottom: 10px;
    font-weight: bold;
    color: #FFC300;
  }
  
  .newsletter-input-group {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .newsletter input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex-grow: 1; /* Input field takes up available space */
    margin-right: 5px; /* Spacing between input and button */
  }
  
  .newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FFC300;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  
  .footer-bottom {
    text-align: center;
    width: 100%; /* Take up the full width for its own row */
    margin-top: 20px;
    font-size: 0.75em;
    order: 4; /* Ensures this is always at the bottom */
  }
  
  .footer-bottom small {
    display: inline-block; /* Allows for text alignment */
  }
  
  .footer-bottom i {
    font-style: italic;
  }
  
 /* Responsive adjustments */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center; /* Center align items for mobile */
    }

    .footer-column {
        /* Ensure the columns stretch to full width on smaller screens */
        width: 100%;
        padding: 10px 0; /* Adjust padding for mobile layout */
    }

    .sitemap {
        /* Stack sitemap links vertically on smaller screens */
        flex-direction: column;
        align-items: center; /* Center links vertically */
        margin-top: 10px;
    }

    .newsletter-input-group {
        /* Align newsletter inputs and button on mobile */
        flex-direction: column;
        align-items: center;
    }

    .newsletter input,
    .newsletter button {
        width: 100%; /* Full width for mobile layout */
        margin: 5px 0; /* Spacing for mobile layout */
    }
}
  
/*------------------------------------
----------PROFILE STYLING-----------
-------------------------------------*/
.upper-section {
    flex: 0.5;  /* 50% */
    background-image: url("../img/profile_background.png");
    padding: 20px;
    color: #ffffff;
}

.lower-section {
    flex: 0.5;  /* 50% */
    background-color: #000;
    padding: 20px;
    color: #ffffff;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid 1px #FFC300;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
    font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS) */
.active, .accordion:hover {
    background-color: #FFC300;
    color: #000000;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 10px 18px;
    background-color: #262626;
    display: none;
    overflow: hidden;
}

.booking-history {
    display: flex;
    justify-content: flex-start;  /* This will align the items to the left */
}

.booking-item {
    flex: 0 0 auto;  
    text-align: center;
    margin-right: 20px;
    max-width: 150px;  /* Constrain the size */
}

.booking-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.booking-item p {
    text-align: center;
    margin-top: 10px;
}

.booking-item img:last-child {
    width: auto;
    height: auto;
}

#rating{
    width:30%;
}

.setting-row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
}

.setting-title {
    align-self: flex-start;
}

input, select, button {
    width: 100%;
}
.delete-account-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-line {
    margin-bottom: 15px;
    text-align: left;
}
#buttonContainer {
    display: flex;
    justify-content: center;
}

.review-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #FFC300;
    padding: 10px;
    margin-bottom: 10px;
}

.review-left, .review-right {
    padding: 10px;
}

.review-left {
    flex: 0.2;
}

.review-right {
    flex: 0.8;
    text-align: left;
}

.movie-poster {
    width: 60%;
    height: auto;
}

.movie-title {
    font-size: 24px;
    margin-top: 0;
}

.star-ratings {
    width: 15%;
    height: auto;
}

.movie-genre {
    font-style: italic;
    font-size: small;
}

.user-review {
    margin-top: 10px;
}

/* The Modal */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Fixed position */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/* Modal Content */
.modal-content {
position: relative;  
background-color: #000;
color: #FFF;
margin: 15% auto; /* Center it */
padding: 20px;
border: 1px solid #FFC300;
border-radius: 20px;
width: 40%; /* Could be more or less, depending on screen size */
}

#modal-qr {
width: 40%;  /* You can adjust this */
height: auto;
}
.close {
position: absolute;
top: 30px;
right: 30px;  /* Changed from 'left' to 'right' */
cursor: pointer;
font-weight: bold;
font-size: 30px;
}
